body{
    width: 100%;
	height:100%;
	font-family: 'Verdana';
	background: url("weather.jpg") no-repeat center;
        background-size: 1900px 1430px;
	
}
.panel-heading{
    background-color: #000000;
    color:#ffffff;
}
.footer{
    position: fixed;
    padding: 10px 0px;
    background-color: #101010;
    color: #9d9d9d;
    bottom: 0;
    width: 100%;
    text-align: center;
}
